nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    background-color: #005477;
    color: white;
    
}
nav a, nav a:visited
{
    color: inherit;
    text-decoration: none;
    font-size: 1.45em;
    margin: 15px 30px 15px 0px;
}
nav a:hover
{
    cursor: pointer;
    color: black;
}
nav a span
{
    margin-left: 5px;
    font-size: 1em;
}
nav .fa, nav .fa-solid
{
    font-size: .9em;
}
@media screen and (min-width:320px) and (max-width: 767px) 
{ 
    nav a
    {
        margin: 10px;
        font-size: 1.3em;
    }
}